html {
  box-sizing: border-box;
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  background-color: #444;
  color: #fff;
  width: 5rem;
  padding: .5rem .9rem;
  font-size: .7rem;
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  display: flex;
}

li {
  display: flex;
  align-items: center;
}

img {
  display: flex;
  flex-direction: row;
  width: 10%;
}

h3 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}
