html {
  box-sizing: border-box;
  background-color: grey;
  font-family: “Open Sans”, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}


img {
  display: flex;
  flex-direction: row;
  width: 10%;
}

h3 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}
